section.GameContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  section.GameContainer div.Statistic {
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border: 0.1rem solid #1a237e;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px #1a237e;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #1a237e; }
  section.GameContainer div.Board {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 30rem;
    border: 0.1em solid #1a237e;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px #1a237e; }
    section.GameContainer div.Board span.information {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      font-size: 2.5rem;
      color: #1a237e;
      padding-top: 3rem; }
    section.GameContainer div.Board div.choiceContainer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-direction: column;
          flex-direction: column;
      height: 30rem; }
      section.GameContainer div.Board div.choiceContainer div.choicedGestures {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        section.GameContainer div.Board div.choiceContainer div.choicedGestures div.choicedGesture {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-align: center;
              align-items: center; }
          section.GameContainer div.Board div.choiceContainer div.choicedGestures div.choicedGesture label.labelChoicedGesture {
            display: -ms-flexbox;
            display: flex;
            font-size: 2rem;
            padding-top: 1rem; }
          section.GameContainer div.Board div.choiceContainer div.choicedGestures div.choicedGesture img.imageChoicedGesture {
            display: -ms-flexbox;
            display: flex;
            width: 10rem;
            height: 10rem; }
    section.GameContainer div.Board div.gesturesList {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-top: 21.2rem; }
      section.GameContainer div.Board div.gesturesList img.gestureImage {
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        height: 8rem;
        width: 8rem;
        margin-bottom: 1rem; }
        section.GameContainer div.Board div.gesturesList img.gestureImage:hover {
          background-color: #3f51b5;
          color: #e8eaf6;
          box-shadow: 2px 2px 2px #1a237e; }
        section.GameContainer div.Board div.gesturesList img.gestureImage:active {
          background-color: #283593;
          color: #e8eaf6;
          outline: none !important;
          border: 0 !important; }
        section.GameContainer div.Board div.gesturesList img.gestureImage:focus {
          outline: none !important;
          border: 0 !important; }
    section.GameContainer div.Board div.wrapperReadyButton {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: center;
          justify-content: center; }
      section.GameContainer div.Board div.wrapperReadyButton button.readyButton {
        padding: 0.5em 1.2em;
        font-size: 1.5em;
        border-radius: 2px;
        border: none;
        outline: medium none currentcolor;
        cursor: pointer;
        background-color: #e8eaf6;
        box-shadow: 1px 1px 1px -1px #7986cb;
        color: #1a237e; }
      section.GameContainer div.Board div.wrapperReadyButton button.unreadyButton {
        padding: 0.5em 1.2em;
        font-size: 1.5em;
        border-radius: 2px;
        border: none;
        outline: medium none currentcolor;
        cursor: pointer;
        background-color: #3f51b5;
        box-shadow: 1px 1px 1px -1px #7986cb;
        color: #e8eaf6; }
div.containerChat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: space-around;
      align-items: space-around;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
  div.containerChat div.messagesContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    border: 0.1em solid #1a237e;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px #1a237e;
    list-style: none;
    height: 30rem;
    overflow-y: auto;
    margin-bottom: 0.5rem; }
  div.containerChat input.messageInput {
    height: 2rem;
    border: none;
    background-color: #e8eaf6;
    color: #1a237e;
    border: 0.1em solid #1a237e;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px #1a237e; }
form.enterForms {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  border: 0.1em solid #1a237e;
  padding: 2em;
  max-width: 40em;
  margin: 10em auto;
  border-radius: 3px;
  box-shadow: 2px 2px 4px -2px #1a237e; }
  form.enterForms input.enterFormsInput {
    -ms-flex-positive: 2;
        flex-grow: 2;
    padding: 1em;
    font-size: 1.5em;
    margin-right: 0.5rem;
    margin-bottom: 0.2em;
    border: none;
    background-color: #e8eaf6;
    color: #1a237e; }
  form.enterForms label.enterFormsLabel {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    color: #1a237e; }
  form.enterForms button.enterFormsButton {
    padding: 0.5em 1.2em;
    margin-bottom: 0.2em;
    font-size: 1.5em;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e8eaf6;
    box-shadow: 1px 1px 1px -1px #7986cb;
    color: #1a237e; }
    form.enterForms button.enterFormsButton:hover {
      background-color: #3f51b5;
      color: #e8eaf6;
      box-shadow: 2px 2px 2px #1a237e; }
    form.enterForms button.enterFormsButton:active {
      background-color: #283593;
      color: #e8eaf6; }

div.GameAndChat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100%; }
img.GestureItem {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
  height: 20%;
  width: 20%;
  padding-top: 21.2rem; }
  img.GestureItem:hover {
    background-color: #3f51b5;
    color: #e8eaf6;
    box-shadow: 2px 2px 2px #1a237e; }
  img.GestureItem:active {
    background-color: #283593;
    color: #e8eaf6; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-out; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-out; }

/*# sourceMappingURL=bundle.css.map*/