img.GestureItem {
    display:flex;
    flex-direction: row;
    cursor: pointer;
    height: 20%;
    width: 20%;
    padding-top: 21.2rem;
        &:hover {
            background-color: #3f51b5;
            color: #e8eaf6;
            box-shadow: 2px 2px 2px #1a237e;
          }    
        &:active {
            background-color: #283593;
            color: #e8eaf6;
  }
}

.fade-appear {
    
}

.fade-appear-active {
    
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1s ease-out;
}
