div.containerChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  flex-basis: 30%;
        div.messagesContainer {
            display: flex;
            flex-direction: column-reverse;
            border: 0.1em solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
            list-style: none;
            height: 30rem;
            overflow-y: auto;
            margin-bottom: 0.5rem;
            }
        input.messageInput {
            height: 2rem;
            border: none;
            background-color: #e8eaf6;
            color: #1a237e;
            border: 0.1em solid #1a237e;
            border-radius: 3px;
            box-shadow: 2px 2px 4px -2px #1a237e;
        }
    
}