.GameContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    margin-right: 0.5rem;
    .Statistic {
        display: flex;
        height: 2rem;
        justify-content: center;
        align-items: center;
        border: 0.1em solid #1a237e;
        border-radius: 3px;
        box-shadow: 2px 2px 4px -2px #1a237e;
        margin-bottom: 0.5rem;
        font-size: 90%;
    }
    .Board {
        display: flex;
        height: 30rem;
        align-items: flex-end;
        border: 0.1em solid #1a237e;
        border-radius: 3px;
        box-shadow: 2px 2px 4px -2px #1a237e;
        padding: 0 0.2rem 0.2rem;
    }
}