.GestureItem {
    display:flex;
    flex-direction: row;
    cursor: pointer;
    list-style:none;
    height: 20%;
    width: 20%;
    transition: all 0.3s ease-out;
        &:hover {
            background-color: #3f51b5;
            color: #e8eaf6;
            box-shadow: 2px 2px 2px #1a237e;
          }    
        &:active {
            background-color: #283593;
            color: #e8eaf6;
  }
}
.GestureItem-slide-enter {
    animation: enterGestureItem 2s ease-out forwards;
}

.GestureItem-slide-enter-active {
    
}

.GestureItem-slide-exit {

}

.GestureItem-slide-exit-active {
    animation: exitGestureItem 2s ease-out forwards;
}

@keyframes enterGestureItem {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes exitGestureItem {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0.8;
        transform: translateX(60%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}